<div cmptype="document">
    <link rel="stylesheet" href="./Component/Document/{theme}/Style.css"></style>
    <div text style="display: none;"></div>
    <script type="text/javascript">
        alert('cdcdcdcd')
    </script>
    <div menu-grid>
        <div menu-bar>
            <div>
                <div menu-logo>
                    <div logo></div>
                </div>
                <div menu-button>
                    <div>
                        <div menu-item>
                            <div menu-image>
                                <div></div>
                            </div>
                        </div>
                        <div menu-item>
                            <div menu-form-image>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div menu-tree>
                    <div>
                        <div menu-item>
                            <div menu-form-notify>
                                <div></div>
                            </div>
                        </div>
                        <div menu-item>
                            <div menu-form-info>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div menu-container>

        </div>
        <div menu-profile>
            <div menu-profile-plex>
                <div menu-profile-info>
                    <div photo-user></div>
                    <label >Багманов Ильнар Рамилович</label>
                    <label >4677</label>
                    <div separate></div>
                    <label>kjkjk</label>
                    <label >Отделение</label>
                </div>
                <div>
                    <div>
                        <div separate></div>
                        <button-ctrl name="button-logoff" caption="Выйти из системы" theme="New"></button-ctrl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>