<div cmptype="document">
    <link rel="stylesheet" href="./Component/Document/{theme}/Style.css"></style>
    <div menu-grid>
        <div menu-bar>
            <div>
                <div document-grid>
                    <div menu-bar-left-panel></div>
                    <div menu-bar-title></div>
                    <div menu-bar-right-panel>
                        <div menu-bar-exit-grid>
                            <div>
                                <div menu-bar-icon-exit></div>
                            </div>
                            <div>
                                <a href="{}">Выход</a>
                            </div>
                        </div>
                        <div menu-bar-refresh-grid>
                            <div menu-bar-icon-mail></div>
                            <div menu-bar-icon-refresh></div>
                            <div>
                                <label>Обновить</label>
                            </div>
                        </div>
                        <div menu-bar-user-info>
                            <table >
                                <tbody>
                                    <tr>
                                        <td>
                                            <label>Пользователь: </label>
                                        </td>
                                        <td>
                                            <label>Багманов Ильнар Рамилович</label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div menu-container>

        </div>
    </div>
</div>